<launch>
<node name="joy_node"  pkg="joy" type="joy_node"/>
<node name="Joy2Turtle" pkg="car" type="joystick.py" output="screen"/>
<node name="ultrasonic" pkg="car" type="sensor_subscriber.py" output="screen"/>
<node pkg="rosserial_python" type="serial_node.py" name="motors" output="screen">
<param name="port" value="/dev/ttyACM1"/>
<param name="baud" value="57600"/>
</node>
<node pkg="rosserial_python" type="serial_node.py" name="sensor" output="screen">
<param name="port" value="/dev/ttyACM0"/>
<param name="baud" value="57600"/>
</node>
</launch>
